datasci_course_materials/assignment1/env/
datasci_course_materials/assignment1/output.json
datasci_course_materials/assignment1/three_minutes_tweets.json
datasci_course_materials/assignment1/twitterstream.py

datasci_course_materials/assignment2/a.csv
datasci_course_materials/assignment2/b.csv
datasci_course_materials/assignment2/Frequency.csv
datasci_course_materials/assignment2/matrix.db
datasci_course_materials/assignment2/reuters.db

.ropeproject/
datasci_course_materials/assignment4/

datasci_course_materials/assignment5/seaflow_21min.csv

datasci_course_materials/assignment6/
datasci_course_materials/capstone/

.Rhistory
.RData
Stats-Inferential-with-R-Duke/Wk1Lab/_43f5c1b4ef8358a74933caeb1853e914_sampling_distributions_Coursera.rmd

